.error {
    text-align: center;
    margin: 100px auto 0;
    max-width: 250px;
}

.error i {
    font-size: 40px;
    color: #444;
}

.error h5 {
    font-size: 14px;
    font-weight: 700;
    color: #444;
}

.current-page {
    margin: 30px 0 80px !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 30px;
}

.page h3 {
    font-weight: 700;
    font-size: 22px;
    padding: 30px 0 35px 0;
    color: #333;
    border-bottom: 2px solid rgb(87, 88, 96);
}

.page {
    width: 100%;
}
