.login__page {
    padding: 80px 15px 150px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-position: top left;
    animation: gradient 15s ease infinite;
}

.login__page .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__page .container label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 20px;
}

.login__page .container form {
    background-color: white;
    border-radius: 5px;
    padding: 20px 15px;
    width: 350px;
    display: block;
}

.login__page .container span.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.login__page .container input {
    font-size: 12px;
    font-weight: 600;
}

.login__page .container input::placeholder {
    color: #777;
    font-size: 12px;
    font-weight: 500;
}

.login__page .container .text {
    text-align: center;
    width: 100%;
    padding: 0px 5px 20px;
}

.login__page .container .text a {
    text-decoration: none;
    color: #666;
    font-weight: 600;
    font-size: 12px;
    transition: color 0.5s;
}

.login__page .container .text a:hover {
    text-decoration: underline;
    color: black;
}

.login__page .container .login__button {
    background-color: #333;
    font-size: 12px;
    font-weight: 600;
    color: white;
    align-self: flex-start;
    margin: 0 0 10px;
    border-radius: 0px;
    margin-top: 15px;
    padding: 8px 50px;
    width: 100%;
    text-transform: unset;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 350px) {
    .login__page .container form {
        width: 100%;
    }
}
